@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
  color: white;
}
ul {
  list-style-type: disc;
}
h1 {
  font-family: 'Audiowide', cursive;
}

.hash-span {
  margin-top: -100px;
  padding-bottom: 100px;
  display: block;
}

.security-gradient {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(109, 14, 149, 0.978203781512605) 32%
  );

  box-shadow: 0px 15px 50px 0px rgba(0, 0, 0, 0.2);
}

.violet-gradient {
  background: #cd0bd060;
  background: linear-gradient(
    to bottom,
    #cd0bd07f 22%,
    #8d068f7f 26%,
    #7205746f 27%,
    #4e034f38 40%,
    #99059b54 97%
  );
  background: -webkit-linear-gradient(-90deg, #cd0bd065 0%, #4e034f5b 100%);
}
.hero-options {
  background: rgba(255, 255, 255, 0.23);
  box-shadow: 0px 15px 50px 0px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(4.8px);
  -webkit-backdrop-filter: blur(4.8px);
}
